$enable-shadows: true;

$custom-font: #5d5c61;
$custom-bg: #e3e2df;
$custom-footer: #05204a;
$custom-dark: #557a95;
$font-family-serif: "Montserrat";
$font-family-sans-serif: "Montserrat";

$theme-colors: (
  "custom-font": $custom-font,
  "custom-bg": $custom-bg,
  "custom-footer": $custom-footer,
  "custom-dark": $custom-dark,
  "blu": #659dbd,
);

//Page styles
body {
  color: $custom-font !important;
}
//Header styles

.logo g {
  fill: white;
}

//Section styles

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero-text {
  position: relative;
  top: 30%;
}

.team-members {
  margin-top: 50px;
  padding-bottom: 0px;
}

.partner-logo {
  -webkit-filter: grayscale(100%) brightness(60%) contrast(10000000%);
  opacity: 0.3;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import "~bootstrap/scss/bootstrap.scss";
@import "hover";
@import "~react-vertical-timeline-component/style.min.css";
