$enable-shadows: true;

$custom-font: #5d5c61;
$custom-bg: #e3e2df;
$custom-footer: #557a95;
$font-family-serif: "Montserrat";
$font-family-sans-serif: "Montserrat";

$theme-colors: (
  "custom-font": $custom-font,
  "custom-bg": $custom-bg,
  "custom-footer": $custom-footer,
  "blu": #659dbd,
);

body {
  color: $custom-font !important;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero-text {
  position: relative;
  top: 30%;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import "~bootstrap/scss/bootstrap.scss";
