$theme-colors: ();

$enable-shadows: true;

$font-family-serif: "Quicksand";
$font-family-sans-serif: "Nunito";

@import "~bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Nunito");
